.rounded{
    background-color: rgba(6, 12, 34, 0.98);
 }
 .dropdown-menu{
     background-color: rgba(6, 12, 34, 0.98);
  }
  .rounded-top{
     background-color: rgba(6, 12, 34, 0.98);
  }
  .navbar{
   background-color: rgba(6, 12, 34, 0.98);
  }